Can we assume that the user uses bodyParser.json() for emailpassword APIs?

@NkxxkN @bhumilsarvaiya , If we can assume that, then we have to make it clear in the docs. I prefer that we do not assume this and if they are not using it, then we can implicitly apply this middleware to the APIs that we are about to handle? If so, then how would we do that?

More questions:
- Should we assume it's there for all `non-GET` APIs, or other APIs may not have this as well
- If a `non-GET` API gets no body, would the `req.body === {}`?

This is what I do now
```
export async function assertThatBodyParserHasBeenUsed(rId: string, req: express.Request, res: express.Response) {
    let method = normaliseHttpMethod(req.method);

    if (method !== "post" && method !== "put") {
        return;
    }

    if (req.body === undefined) {
        let jsonParser = bodyParser.json();
        await new Promise((resolve) => jsonParser(req, res, resolve));
        if (req.body === undefined) {
            throw new STError({
                type: STError.BAD_INPUT_ERROR,
                message: "API input error: Please make sure to pass a valid JSON input in thr request body",
                rId,
            });
        }
    }
}
```

If body parser is not used, `req.body` will be undefined. I agree with @NkxxkN that in 99.9% cases, this middleware won't be required but we better keep it to handle those rare cases where user is not using any body parser middleware.

Also, for non-PUT and non-POST APIs, `req.body` will be `{}` (when a request body parser is used). Though one can pass request body for non-PUT and non-POST APIs, we just ideally ignore it.

>  A message-body MUST NOT be included in a request if the specification of the request method ([section 5.1.1](https://tools.ietf.org/html/rfc2616#section-5.1.1)) does not allow sending an entity-body in requests. A server SHOULD read and forward a message-body on any request; if the request method does not include defined semantics for an entity-body, then the message-body SHOULD be ignored when handling the request. ([RFC2616, section 4.3](https://tools.ietf.org/html/rfc2616#section-4.3))

And there is no entity-body semantics defined for GET, OPTIONS, HEAD and DELETE methods. So, we should ignore request body when passed in any non-POST and non-PUT API.

Okay. So is my implementation above correct?

Do we only care about request bodies that has content-type as JSON? If yes, then the above implementation is good enough 

In the above code snippet, `req.body` will always be `{}`. Therefore, if an invalid JSON is passed, then right error will not be thrown. Hence, we change it to
```
export async function assertThatBodyParserHasBeenUsed(rId: string, req: express.Request, res: express.Response) {
    let method = normaliseHttpMethod(req.method);
    if (method !== "post" && method !== "put") {
        return;
    }
    if (req.body === undefined) {
        let jsonParser = bodyParser.json();
        let err = await new Promise((resolve) => jsonParser(req, res, resolve));
        if (err !== undefined) {
            throw new STError({
                type: STError.BAD_INPUT_ERROR,
                message: "API input error: Please make sure to pass a valid JSON input in thr request body",
                rId,
            });
        }
    }
}
```